/*
=============
 Containers
=============
*/

body {
    background: rgb(0,150,136);
    background: linear-gradient(180deg, rgba(0,150,136,1) 15%, rgba(220,219,209,1) 15%);
    padding: 1.25rem 10rem;
}

.container {
    height: calc(100vh - 2.5rem);
}

.web-app.left {
    width: 35%;
}

/*
=============
 Classes
=============
*/

.align-center {
    align-items: center;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-grow {
    flex-grow: 1;
}

.justify-between {
    justify-content: space-between;
}