/*
=============
 Containers
=============
*/

body {
    background: rgb(0,150,136);
    background: linear-gradient(180deg, rgba(0,150,136,1) 15%, rgba(220,219,209,1) 15%);
    padding: 1.25rem 10rem;
}

.container {
    height: calc(100vh - 2.5rem);
}

/*
=============
 Classes
=============
*/

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-grow {
    flex-grow: 1;
}