/*
=============
 Web app right
=============
*/

.web-app.right > header,
.web-app.right > footer {
    background-color: #eaeaea;
    height: 3.75rem;
}

.web-app.right > main {
    background-color: #e5ddd5;
}