/*
=============
 Web app left
=============
*/

.web-app.left > header {
    background-color: #eaeaea;
    height: 3.75rem;
}

.web-app.left .profile .img {
    background-color: red;
    height: 50px;
    width: 50px;
}

.web-app.left > main {
    height: calc(100% - 3.75rem);
}

.desktop-notifications {
    background-color: #8edafc;
    height: 4.375rem;
}

.contact-search {
    background-color: #fafafa;
    height: 2.8125rem
}

.contacts {
    background-color: #ffffff;
}

/*
=============
 Web app right
=============
*/

.web-app.right > header,
.web-app.right > footer {
    background-color: #eaeaea;
    height: 3.75rem;
}

.web-app.right > main {
    background-color: #e5ddd5;
}