/*
=============
 Common
=============
*/

.web-app.right > header,
.web-app.right > footer {
    background-color: #eaeaea;
    border-left: .0625rem solid #dfdfdf;
    height: 3.75rem;
    padding: .625rem;
}

/*
=============
 Header
=============
*/

.web-app.right header .last-login {
    color: #818983;
}

/*
=============
 Main
=============
*/

.web-app.right main {
    background-image: url(../img/mine.jpg);
    overflow-y: scroll;
    padding: 2.8125rem 5.3125rem;
}