/*
=============
 Common
=============
*/

.web-app.right > header,
.web-app.right > footer {
    border-left: .125rem solid #dfdfdf;
    height: 3.75rem;
}

/*
=============
 Header
=============
*/

.web-app.right header {
    background-color: #eaeaea;
    padding: .625rem;
}

.web-app.right header .last-login {
    color: #818983;
}

/*
=============
 Main
=============
*/

.web-app.right main {
    background-image: url(../img/mine.jpg);
    overflow-y: scroll;
    padding: 2.8125rem 5.3125rem;
}

/*
=============
 Footer
=============
*/

.web-app.right footer {
    background-color: #f3eeea;
    padding: 10px 0;
}

.web-app.right footer #enter-message input {
    width: 100%;
}

.web-app.right footer #emoticons,
.web-app.right footer #vocal-message {
    color: #6b7376;
    cursor: pointer;
    margin: 1.875rem;
}